@model HanHe.Manage.Models.GanWu.GanWuCreate
@{
    ViewBag.Title = "添加感悟未来";
    ViewBag.Forms = "感悟未来列表";
    ViewBag.Elements = "添加感悟未来";
    ViewBag.FormsUrl = Url.Action("GanWuList", "GanWu");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GanWuCreate", "GanWu", FormMethod.Post, htmlAttributes: new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MID, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.MID, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.MID, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GwTitle, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.GwTitle, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GwTitle, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GwTitleShort, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.GwTitleShort, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GwTitleShort, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GwType, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.DropDownList("GwType", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpenStatus, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.DropDownList("OpenStatus", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GotoDate, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                <div class="col-xs-10 col-sm-5 no-padding-left input-group">
                    @Html.TextBoxFor(model => model.GotoDate, htmlAttributes: new { @class = "form-control date-picker" })
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.GotoDate, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostDate, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                <div class="col-xs-10 col-sm-5 no-padding-left input-group">
                    @Html.TextBoxFor(model => model.PostDate, htmlAttributes: new { @class = "form-control date-picker" })
                    <span class="input-group-addon">
                        <i class="icon-calendar bigger-110"></i>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.PostDate, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GwStatus, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.DropDownList("GwStatus", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.SmsStatus, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.DropDownList("SmsStatus", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViewCount, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.ViewCount, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.ViewCount, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoodCount, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.GoodCount, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GoodCount, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.SortID, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                <div class="col-xs-10 col-sm-5 no-padding-left">
                    @Html.EditorFor(model => model.SortID)
                </div>
                @Html.ValidationMessageFor(model => model.SortID, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GwInfo, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.GwInfo)
            </div>
        </div>
        <div class="space-4"></div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

        <div class="hr hr-24"></div>
    </div>
}

@section Scripts {
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render("GwInfo");
    </script>
}