@model HanHe.Model.Zs_Project

@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Add", "api/Project", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Zs_Project</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.MID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MID)
                @Html.ValidationMessageFor(model => model.MID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProTitle)
                @Html.ValidationMessageFor(model => model.ProTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProInfo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProInfo)
                @Html.ValidationMessageFor(model => model.ProInfo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImpropantWeight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImpropantWeight)
                @Html.ValidationMessageFor(model => model.ImpropantWeight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrgentWeight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrgentWeight)
                @Html.ValidationMessageFor(model => model.UrgentWeight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpectDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpectDate)
                @Html.ValidationMessageFor(model => model.ExpectDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProStatus)
                @Html.ValidationMessageFor(model => model.ProStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinishedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinishedDate)
                @Html.ValidationMessageFor(model => model.FinishedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProgressNum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProgressNum)
                @Html.ValidationMessageFor(model => model.ProgressNum)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OpenStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OpenStatus)
                @Html.ValidationMessageFor(model => model.OpenStatus)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">附件1</label>
            <div class="col-md-10">
                <input id="upload1" name="upload1" type="file" value="附件1" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">附件2</label>
            <div class="col-md-10">
                <input id="upload2" name="upload1" type="file" value="附件2" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
