@model HanHe.Model.Zs_ChuanJia

@{
    ViewBag.Title = "UpdateChuanJia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Update", "api/ChuanJiaYouDao", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Zs_ChuanJia</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TypeID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TypeID)
                @Html.ValidationMessageFor(model => model.TypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CJTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CJTitle)
                @Html.ValidationMessageFor(model => model.CJTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CJTitleShort, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CJTitleShort)
                @Html.ValidationMessageFor(model => model.CJTitleShort)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CJInfo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CJInfo)
                @Html.ValidationMessageFor(model => model.CJInfo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
