@model IEnumerable<HanHe.Model.Zs_Role>

@{
    ViewBag.Title = "权限列表";
    ViewBag.Forms = "权限列表";
    ViewBag.Elements = "权限列表";
    ViewBag.FormsUrl = Url.Action("RightList", "Right");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .ui-icon {
        width: 16px;
        height: 16px;
        background-image: url("@Url.Content("~/Content/css/images/ui-icons_222222_256x240.png")");
    }

    .ui-icon-triangle-1-e {
        background-position: -32px -16px;
    }

    .ui-icon-triangle-1-s {
        background-position: -64px -16px;
    }

    .ui-icon-radio-off { background-position: -112px -144px; }
</style>

<form id="form1">
    <div class="alert alert-info">
        <a id="dic-create" class="btn btn-primary" href="@Url.Action("RightCreateChildNode", "Right")"><i class='icon-plus align-top bigger-125'></i>添加子节点</a>
        <a id="dic-create" class="btn btn-primary" href="@Url.Action("RightCreateRootNode", "Right")"><i class='icon-plus align-top bigger-125'></i>添加根节点</a>
        <a id="dic-edit" class="btn btn-purple" href="#"><i class='icon-pencil align-top bigger-125'></i>修改</a>
        <a id="dic-delete" class="btn btn-danger" href="#"><i class='icon-remove align-top bigger-125'></i>删除</a>
        <div id="dialog-confirm" class="hide">
            <div class="alert alert-info bigger-110">
                权限将被永久删除，无法恢复
            </div>

            <div class="space-6"></div>

            <p class="bigger-110 bolder center grey">
                <i class="icon-hand-right blue bigger-120"></i>
                确定删除吗？
            </p>
        </div><!-- #dialog-confirm -->
    </div>

    <table id="grid-table"></table>

    <div id="grid-pager"></div>
</form>

@section Scripts {
    <!--删除-->
    <script type="text/javascript">
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                var $title = this.options.title || '&nbsp;'
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else title.text($title);
            }
        }));

        $("#item-delete").on('click', function (e) {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";
            var selectedRowIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
            var len = selectedRowIds.length;
            if (len == 0) {
                $("#dialog-delete").removeClass('hide').dialog({
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> 系统提示</h4></div>",
                    title_html: true,
                    buttons: [
                        //{
                        //    text: "Cancel",
                        //    "class": "btn btn-xs",
                        //    click: function () {
                        //        $(this).dialog("close");
                        //    }
                        //},
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
                return;
            }

            e.preventDefault();
            $("#dialog-confirm").removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 系统提示</h4></div>",
                title_html: true,
                buttons: [
                    {
                        html: "<i class='icon-trash bigger-110'></i>&nbsp; 确定",
                        "class": "btn btn-danger btn-xs",
                        click: function () {
                            var items = [];
                            for (var i = 0; i < len; i++) {
                                var rowData = $(grid_selector).jqGrid('getRowData', selectedRowIds[i]);
                                items.push(rowData.ProjectID);
                            }

                            $.post('@Url.Action("RightDelete", "Right")', { id: items.join(',') }, function (data) {
                                if (data) {
                                    for (var i = 0; i < len; i++) {
                                        $(grid_selector).jqGrid("delRowData", selectedRowIds[0]);
                                    }
                                }
                            });
                            $(this).dialog("close");
                        }
                    }
                    ,
                    {
                        html: "<i class='icon-remove bigger-110'></i>&nbsp; 取消",
                        "class": "btn btn-xs",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });
        });
    </script>
    <!--编辑-->
    <script type="text/javascript">
        $.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
            _title: function (title) {
                var $title = this.options.title || '&nbsp;'
                if (("title_html" in this.options) && this.options.title_html == true)
                    title.html($title);
                else title.text($title);
            }
        }));

        $("#item-edit").on('click', function (e) {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";
            var selectedRowIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");
            var len = selectedRowIds.length;
            if (len > 1 || len == 0) {
                $("#dialog-edit").removeClass('hide').dialog({
                    modal: true,
                    title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='icon-ok'></i> 系统提示</h4></div>",
                    title_html: true,
                    buttons: [
                        //{
                        //    text: "Cancel",
                        //    "class": "btn btn-xs",
                        //    click: function () {
                        //        $(this).dialog("close");
                        //    }
                        //},
                        {
                            text: "OK",
                            "class": "btn btn-primary btn-xs",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
                return;
            }

            var rowData = $(grid_selector).jqGrid('getRowData', selectedRowIds[0]);
            window.location.href = "/Right/RightEdit/" + rowData.RightID;
        });
    </script>
    <!--列表-->
    <script type="text/javascript">
    @*var roleList = '';
    $.ajax({
        type: "post",
        url: "@Url.Action("GetRoleProperties", "Role")",
        dataType: "json",
        async: false,
        success: function (data) {
            //赋值给全局变量;
            var items = [];
            $.each(data, function (key, val) {
                items.push(key + ':' + val.Name + ';');
            });
            roleList = items.join('');
        }
    });*@

        jQuery(function ($) {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";

            jQuery(grid_selector).jqGrid({
                url: '@Url.Action("GetData", "Right")',
                mtype: 'GET',
                colNames: ['编号', '权限名称', '权限编码', '控制器', '动作', '父节点', '排序', '权限属性', '备注'],
                colModel: [
                    //{
                    //    name: 'myac', index: '操作', width: 80, fixed: true, sortable: false, resize: false,
                    //    formatter: 'actions',
                    //    formatoptions: {
                    //        keys: true,
                    //        delOptions: { recreateForm: true, beforeShowForm: beforeDeleteCallback },
                    //        //editformbutton: true, editOptions: { recreateForm: true, beforeShowForm: beforeEditCallback }
                    //    }
                    //},
                    { name: 'RightID', index: 'RightID', hidden: true, width: 90, editable: true, label: "RightID" },
                    { name: 'RightName', index: 'RightName', width: 90, label: "RightName", sorttype: "string" },
                    { name: 'RightCode', index: 'RightCode', width: 90, label: "RightCode" },
                    { name: 'ControllerName', index: 'ControllerName', width: 90, label: "ControllerName" },
                    { name: 'ActionName', index: 'ActionName', width: 90, label: "ActionName" },
                    { name: 'ParentID', index: 'ParentID', width: 90, label: "ParentID" },
                    { name: 'SortID', index: 'SortID', width: 90, label: "SortID" },
                    { name: 'RightProperty', index: 'RightProperty', width: 90, label: "RightProperty" },
                    { name: 'Remark', index: 'Remark', width: 90, editable: true, label: "Remark" },
                ],
                caption: "权限列表",
                datatype: "json",
                treeGridModel: 'nested',
                ExpandColumn: 'RightName',
                sortname: 'RightName',
                height: 360,
                rowNum: 100,
                pager: pager_selector,
                treeGrid: true,
                hoverrows: false,
                altRows: true,
                viewrecords: false,
                autowidth: true,
                loadonce: true,
                scrollrows: true,
                ExpandColClick: true,
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);
                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                    $(grid_selector).setSelection(1);
                },
                onSelectRow: function () {
                    var selr = jQuery(grid_selector).jqGrid('getGridParam', 'selrow');
                    $('#dic-edit').attr("href", "/Right/RightEdit/" + selr);
                },
            });

            //it causes some flicker when reloading or navigating grid
            //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
            //or go back to default browser checkbox styles for the grid
            function styleCheckbox(table) {

                $(table).find('input:checkbox').addClass('ace')
                .wrap('<label />')
                .after('<span class="lbl align-top" />')


                $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
                .find('input.cbox[type=checkbox]').addClass('ace')
                .wrap('<label />').after('<span class="lbl align-top" />');
            }

            //unlike navButtons icons, action icons in rows seem to be hard-coded
            //you can change them like this in here if you want
            function updateActionIcons(table) {

                var replacement =
                {
                    'ui-icon-pencil': 'icon-pencil blue',
                    'ui-icon-trash': 'icon-trash red',
                    'ui-icon-disk': 'icon-ok green',
                    'ui-icon-cancel': 'icon-remove red'
                };
                $(table).find('.ui-pg-div span.ui-icon').each(function () {
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
                    if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
                })

            }

            //replace icons with FontAwesome icons like above
            function updatePagerIcons(table) {
                var replacement =
                {
                    'ui-icon-seek-first': 'icon-double-angle-left bigger-140',
                    'ui-icon-seek-prev': 'icon-angle-left bigger-140',
                    'ui-icon-seek-next': 'icon-angle-right bigger-140',
                    'ui-icon-seek-end': 'icon-double-angle-right bigger-140'
                };
                $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                    var icon = $(this);
                    var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                    if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
                })
            }

            function enableTooltips(table) {
                $('.navtable .ui-pg-button').tooltip({ container: 'body' });
                $(table).find('.ui-pg-div').tooltip({ container: 'body' });
            }

            //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');
        });
    </script>
}