@model HanHe.Manage.Models.GuoXue.GuoXueCreate
@{
    ViewBag.Title = "添加国学";
    ViewBag.Forms = "国学列表";
    ViewBag.Elements = "添加国学";
    ViewBag.FormsUrl = Url.Action("GuoXueList", "GuoXue");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GuoXueCreate", "GuoXue", FormMethod.Post, htmlAttributes: new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Keywords, new { @class = "col-sm-1 control-label no-padding-right" })

            <div class="col-sm-11">
                @Html.TextBoxFor(model => model.Keywords, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.Keywords, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxTitle, new { @class = "col-sm-1 control-label no-padding-right" })
            <div class="col-sm-11">
                @Html.TextBoxFor(model => model.GxTitle, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GxTitle, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxTitleShort, new { @class = "col-sm-1 control-label no-padding-right" })
            <div class="col-sm-11">
                @Html.TextBoxFor(model => model.GxTitleShort, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GxTitleShort, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category01, new { @class = "col-sm-1 control-label no-padding-right" })
            <div class="col-sm-11">
                @Html.DropDownList("Category01", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5 chosen-select" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category02, new { @class = "col-sm-1 control-label no-padding-right" })
            <div class="col-sm-11">
                @Html.DropDownList("Category02", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5 chosen-select" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category03, new { @class = "col-sm-1 control-label no-padding-right" })
            <div class="col-sm-11">
                @Html.DropDownList("Category03", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5 chosen-select" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxStatus, new { @class = "col-sm-1 control-label no-padding-right" })
            <div class="col-sm-11">
                @Html.DropDownList("GxStatus", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5 chosen-select" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxInfo, new { @class = "col-sm-1 control-label no-padding-right" })
            <div class="col-sm-11">
                @Html.TextAreaFor(model => model.GxInfo)
            </div>
        </div>
        <div class="space-4"></div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    添加
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

        <div class="hr hr-24"></div>
    </div>
}

@section Scripts {
    <!-- 配置文件 -->
    <script type="text/javascript" src="~/Content/ueditor/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="~/Content/ueditor/ueditor.all.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render("GxInfo");
    </script>
}