@model HanHe.Manage.Models.GuoXue.GuoXueCreate
@{
    ViewBag.Title = "添加国学";
    ViewBag.Forms = "国学列表";
    ViewBag.Elements = "添加国学";
    ViewBag.FormsUrl = Url.Action("GuoXueList", "GuoXue");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .ui-jqgrid tr.jqgrow td {
        border: 0px none;
    }
    .ui-icon {
        width: 16px;
        height: 16px;
        background-image: url("@Url.Content("~/Content/css/images/ui-icons_222222_256x240.png")");
    }

    .ui-icon-triangle-1-e {
        background-position: -32px -16px;
    }

    .ui-icon-triangle-1-s {
        background-position: -64px -16px;
    }

    .ui-icon-radio-off {
        background-position: -112px -144px;
    }
</style>

@using (Html.BeginForm("GuoXueCreate", "GuoXue", FormMethod.Post, htmlAttributes: new { id = "form1" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Keywords, new { @class = "col-sm-2 control-label no-padding-right" })

            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Keywords, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.Keywords, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxTitle, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.GxTitle, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GxTitle, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxTitleShort, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.GxTitleShort, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GxTitleShort, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.ViewCount, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.ViewCount, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.ViewCount, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GoodCount, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.GoodCount, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
                @Html.ValidationMessageFor(model => model.GoodCount, "", htmlAttributes: new { @class = "help-inline col-xs-12 col-sm-7" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxStatus, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.DropDownList("GxStatus", null, htmlAttributes: new { @class = "col-xs-10 col-sm-5" })
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.DicID, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.HiddenFor(model => model.DicID)
                <table id="grid-table" class="col-xs-10 col-sm-5"></table>
            </div>
        </div>
        <div class="space-4"></div>

        <div class="form-group">
            @Html.LabelFor(model => model.GxInfo, new { @class = "col-sm-2 control-label no-padding-right" })
            <div class="col-sm-10">
                @Html.TextAreaFor(model => model.GxInfo)
            </div>
        </div>
        <div class="space-4"></div>

        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    提交
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重置
                </button>
            </div>
        </div>

        <div class="hr hr-24"></div>
    </div>
}

@section Scripts {
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = new UE.ui.Editor();
        editor.render("GxInfo");
    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            var grid_selector = "#grid-table";
            var pager_selector = "#grid-pager";

            jQuery(grid_selector).jqGrid({
                url: '@Url.Action("GetData", "Dic")',
                mtype: 'GET',
                colNames: ['编号', '字典名称'],
                colModel: [
                    { name: 'DicID', index: 'DicID', hidden: true, key: true, width: 90, label: "DicID" },
                    { name: 'DicName', index: 'DicName', width: 150, label: "DicName", sorttype: "string" },
                ],
                datatype: "json",
                hoverrows: false,
                viewrecords: false,
                gridview: true,
                height: 200,
                width: 386,
                sortname: 'lft',
                loadonce: true,
                rowNum: 100,
                scrollrows: true,
                treeGrid: true,
                ExpandColumn: 'DicName',
                ExpandColClick: true,
                treedatatype: 'json',
                treeGridModel: 'nested',
                sortorder: 'asc',
                multiselect: true,
                gridComplete: function () {
                    $(grid_selector).setSelection(0);
                },
                loadComplete: function () {
                    var table = this;
                    setTimeout(function () {
                        styleCheckbox(table);
                        updateActionIcons(table);
                        updatePagerIcons(table);
                        enableTooltips(table);
                    }, 0);
                },
                onSelectRow: function () {
                    var selr = jQuery(grid_selector).jqGrid('getGridParam', 'selrow');
                    $('#DicID').val(selr);
                }
            });

            $('.ui-jqgrid-htable', '.ui-jqgrid-hbox').hide();
        });
    </script>
}